@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
.form-big { max-width:320px; margin:30px auto; }

.form-lowres { max-width:200px; margin:60px auto; }

.feedback-input {
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size: 14px;
  border-radius: 5px;
  line-height: 20px;
  background-color: transparent;
  border:2px solid #a0a0a0;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #0f0f0f; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#4e4e4e;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  margin-bottom: 40px;
}



.feedback-input-low {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 14px;
    border-radius: 5px;
    line-height: 20px;
    background-color: transparent;
    border:2px solid #a0a0a0;
    transition: all 0.3s;
    padding: 10px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input-low:focus { border:2px solid #0f0f0f; }