<div class="body">
    
    <div *ngIf="screenSize=='Large' || screenSize=='XLarge'" class="table-div">
        <div class="header">About</div>
        <table style="height: 60vh; width: 100%;">
            <tr style="display: flex;">
                <td style="margin-top: 8%;">
                    <div class="image-title"> 
                        <br>
                        Who's this guy?
                        
                    </div>
                    <span >
                        <!-- <div *ngIf="animateImage==true" id="imageDivAnimate" #imageDivAnimate class="image-div">
                            <img class="image-top" src="../../assets/images/about.jpg" alt="Me">
                            <img class="image-bottom" src="../../assets/images/scientist-myself.gif" alt="Me">
                        </div> -->
                   

                    <div  class="image-div">
                        <img class="image-top" src="../../assets/images/about.jpg" alt="Me">
                    </div>
                </span>
                    <div class="subtitle"><br>
                        I am a Software Engineer at UnitedHealth Group in Hyderabad, IN.<br>
                        I love solving problems.                        
                    </div>
                    <br>
                    <div class="subtitle">
                        <button (click)="viewResume()" mat-button style="color: black; background-color: white;" >View Resume</button>
                    </div>
                </td>
                <td >
                    <div class="skill-div">
                        <!-- <div class="image-title">Skills</div> -->
                        <br>
                    </div>
                    <div>
                        <br>
                        <app-skillset [skillSet]="'techSkills'"></app-skillset>
                        <app-skillset [skillSet]="'otherSkills'"></app-skillset>
                    </div>
 
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="screenSize!='Large' && screenSize!='XLarge'" class="table-div-lowres">
        <div class="header-lowres">About</div>
        <table style="height: 100%; width: 100%;">
            <tr >
                <td  >
                    <div class="image-title"> 
                        Who's this guy?
                        
                    </div>

                    <span >
                        <!-- <div *ngIf="animateImage==true" id="imageDivAnimate" #imageDivAnimate class="image-div-lowres">
                            <img class="image-lowres-top" src="../../assets/images/about.jpg" alt="Me">
                            <img class="image-lowres-bottom" src="../../assets/images/scientist-myself.gif" alt="Me">
                        </div> -->
                   

                    <div class="image-div-lowres">
                        <img class="image-lowres-top" src="../../assets/images/about.jpg" alt="Me">
                    </div>
                </span>

                    <div class="subtitle"><br>
                        I am a Software Engineer at UnitedHealth Group in Hyderabad, IN.<br>
                        I love solving problems.                        
                    </div>
                    <br>
                    <div class="subtitle">
                        <button (click)="viewResume()" mat-button style="color: black; background-color: white; transform: scale(80%);" >View Resume</button>
                    </div>
                </td>
                
            </tr>
            <br>
            <tr style="margin-top: 8%;">
                <td>
                    <div class="skill-div">
                        <!-- <div class="image-title">Skills</div> -->
                        <br>
                    </div>
                    <br>
                    <app-skillset [skillSet]="'techSkills'"></app-skillset>
                    <app-skillset [skillSet]="'otherSkills'"></app-skillset>

                </td>
            </tr>
        </table>
    </div>
</div>

