.hero-parent{
    height: 90vh;
  //  background-image: url('../../assets/images/heroBG.jpg');
  //  background-size: 90%;
    z-index: 1;
    
    
    
}

 .image{
     height: 100%;
     background-image: url('../../assets/images/heroBG.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-position-x: center;
     background-color: rgba(160, 156, 156, 0.788);
     background-blend-mode: multiply;
     box-shadow: 3px 1px 12px 4px #000000;
 }

 .hero-intro{
     display: flex;
     color: white;
     justify-content: center;
     width: 45%;
     height: 85%;
     font-size: 64px;
     flex-direction: column;
     margin-left: 20px;
 }

 .subtitle{
    display: flex;
    justify-self: flex-start;
    color: white;
    font-size: 34px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: rgba(39, 39, 39, 0.788);
}

.subtitle-2{
    display: flex;
    justify-self: flex-start;
    color: white;
    font-size: 34px;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: rgba(39, 39, 39, 0.788);
}

.title{
    color: white;
    font-size: 92px;
    font-weight: 800;
    padding-left: 30px;
    background-color: rgba(39, 39, 39, 0.788);
}

.intro-title{
    box-shadow: 3px 1px 12px 4px #000000;
    justify-content: center;

}


//ANimation

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: rgb(255, 251, 251);
  height: 650px;
  position: absolute;
  left:-5%;
  width: 1200px;
  transform: scale(0.5);
  background-color: rgba(39, 39, 39, 0.788);
  box-shadow: 3px 1px 12px 4px #000000;
  padding-left: 20px;
  border-radius: 12px;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1px solid rgb(255, 255, 255);
  top: 0;
  width: 95%;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #ffffff;
}
.animated-title > div.text-bottom {
  width: 95%;
  bottom: 0;
  
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.animated-title:hover {

    background-color: rgba(0, 0, 0, 0.664);

}