html{
  scroll-behavior: smooth;
  
}

.nav-bar{
height: 80px;
background: rgba(0, 0, 0, 0.623);
color: white;
box-shadow: 3px 1px 12px 4px #000000;
transition: all 0.20s;
border-radius: 0;
display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
backdrop-filter: blur(1px);
z-index: 1;  
}
// mat-toolbar:hover {

//     background-color: rgba(0, 0, 0, 0.795);

// }
.spacer {
    flex: 1 1 auto;
}
  
.button {
    min-width: 100px;
    min-height: 30px;
    font-weight: 400;
    font-size: 14px;
}  

  .title {
    min-width: 600px;
    min-height: 60px;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
  }  

  .day-night{
      display: flex;
      height: 100%;
      vertical-align: middle;
  }

  .material-icons-sharp{
      
      font-size: 24px;
      padding: 20px;
      vertical-align: middle;
  }

  
  .mat-toolbar.mat-primary {
     position: sticky;
    top: 0;
  }

  .fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }
 .drawer-container{
   height: 100%;
   width: 100%;
   background-color: black;

 }

 .toolbar-div div{
   display: inline-block;
   min-width: 100px;
   text-align: center;
   margin-right: auto;
 }

 .toolbar-div{
   display: flex;
   min-width: 100%;
   flex:1 1 0; 
 }



.side-nav{
width: fit-content;
background-color: #0000007a;
margin-top: 80px;
}

.toolbar-buttons{
  display: flex;
  align-items: flex-start;
}

.toolbar-title{
  
  min-width: 50%;
  text-align: left;
  align-items: flex-start;
  padding-left: 6%;
  font-size: medium;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  padding-top: 4px;

  
  
}

.toolbar-menu{

  display: flex;
  flex-direction: row-reverse;
  margin-right: auto;
  flex:1;
}

.hero{

  height: 80vh;
  width: 100%;
  background-color: aqua; 
  z-index: -1;
  
}

.drawer-content{
  height: 100%;
}

.list-option {
  color: white;
  height: 120px;
  font-size: large;
  padding: 8px;
  margin: 8px;
}

.about{
width: 100%;
max-width: 100%;
position:relative;
top:-20vh;
height: 100%;
z-index: -1;
}

.body{
  height: 100%;
  overflow-x: hidden;
}


.about-lowres{
  width: 100%;
  max-width: 100%;
  position:relative;
  top:-20vh;
  height: 100%;
  z-index: -1;
  }

.experience{
  width: 100%;
  height: 100%;
  max-width: 100%;
  position:relative;
  z-index: -1;
  margin-bottom: 20vh;
  
  }

  .experience-lowres{
    width: 100%;
    position:relative;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    
    
    }

    .projects{
      width: 100%;
      position:relative;
      height: 100%;
      max-width: 100%;
      z-index: -1;
      margin-bottom: 20vh;
      
      }
    
.projects-lowres{
        width: 100%;
        position:relative;
        max-width: 100%;
        height: 100%;
        z-index: -1;
        
        
}
.getInTouch-lowres{
  width: 100%;
  max-width: 100%;
  height: 100%;
  position:relative;
  z-index: -1;
}

.getInTouch{

  width: 100%;
  height: 100%;
  max-width: 100%;
  position:relative;
  z-index: -1;
  
}

.resume-lowres{
  width: 100%;
  max-width: 100%;
  height: 100%;
  position:relative;
  z-index: 1;
}

.resume{

  width: 100%;
  height: fit-content;
  min-height: 40vh;
  max-width: 100%;
  display: flex;
  position:relative;
  z-index: 1;
  justify-content: center;
  
}

.footer-lowres{
  width: 100%;
  max-width: 100%;
  height: 20vh;
  position:relative;
  z-index: -1;
}

.footer{

  width: 100%;
  height: 17vh;
  max-width: 100%;
  position:relative;
  z-index: -1;
  
}

.backDrop{

  background-color: #00f;
}

.portfolio-components{
  animation: expand .8s ease forwards;
  transition: all .8s ease;
}