<mat-toolbar class="nav-bar">
    <span>
    <mat-label class="title">   Divyansh Chauhan </mat-label> 
    </span>
    <span class="spacer"></span>
    <button class="button" mat-button >About</button>
    <button class="button" mat-button>Experience</button>
    <button class="button" mat-button>Projects</button>
    
    <!-- <div class='daynight'>
        <mat-icon class="material-icons-sharp">light_mode</mat-icon>
        

        <mat-slide-toggle></mat-slide-toggle>
        <mat-icon class="material-icons-sharp">nightlight_round</mat-icon>
    </div> -->
</mat-toolbar>