<div class="body">
    <div *ngIf="screenSize=='Large' || screenSize=='XLarge'" class="table-div">
        <div class="header">Experience</div>
        <div class="sub-header">Companies I have worked with...</div>

        <table style="height: 60vh; width: 100%;">
            <tr style="display: flex;">
                <td>
   
                    <div class="image-div">
                        <img class="image" style="margin-top:5%;" src="../../assets/images/UHG.png" alt="UnitedHealth Group">
                        
                    </div>
                   
                    <div class="subtitle"><br>
                        Hyderabad, Telangana, INDIA<br>
                        Software Engineer<br>
                        July'2019 - Present<br>
                                   
                        <br>
                        <br>
                        
                    </div>
                    <div class="work-ex-list">
                        <ul class="check-list">
                            <li>Worked alongside product managers to architect a multi-step manual process
                                into a single page web-app resulting in time and money savings.</li><br>
                            <li>Built REST APIs that served Angular based web app that handled over 500,000 concurrent users at a time.</li><br>
                            <li>Designed an Automation Test Framework based on REST Assured framework validating regression suite of more than a million test cases.</li>
                            
                          </ul>

                    </div>
                </td>
                <td >
                    <div class="image-div">
                        <img class="image" src="../../assets/images/zscaler.png" alt="UnitedHealth Group">
                        
                    </div>
                   
                    <div class="subtitle"><br>
                        Chandigarh, INDIA<br>
                        Product Support Intern<br>
                        January'19 - June'19<br>
                                          
                    </div>
                   <br>
                   <br>
                   <div class="work-ex-list">
                    <ul class="check-list">
                        <li>Worked as a Product Support Intern for 6 months and got recommended in
                            Cloud Based Security Domain. </li><br>
                        <li>Troubleshooting and resolving network and cloud firewall related issues.</li>
                        
                      </ul>

                </div>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="screenSize!='Large' && screenSize!='XLarge'" class="table-div-lowres">
        <div class="header-lowres">Experience</div>
        <div class="sub-header-lowres">Companies I have worked with...</div>
        <table style="height: 100%; width: 100%;">
            <tr >
                <td  >
                    <div class="image-div">
                        <img class="image" style="margin-top:5%;" src="../../assets/images/UHG.png" alt="UnitedHealth Group">
                        
                    </div>
                   
                    <div class="subtitle"><br>
                        Hyderabad, Telangana, INDIA<br>
                        Software Engineer<br>
                        July'2019 - Present<br>
                                   
                        <br>
                        <br>
                        
                    </div>
                    <div class="work-ex-list">
                        <ul class="check-list">
                            <li>Worked alongside product managers to architect a multi-step manual process
                                into a single page web-app resulting in time and money savings.</li><br>
                            <li>Built REST APIs that served Angular based web app that handled over 500,000 concurrent users at a time.</li><br>
                            <li>Designed an Automation Test Framework based on REST Assured framework validating regression suite of more than a million test cases.</li>
                            
                          </ul>

                    </div>
                </td>
                
            </tr>
            <br>
            <tr style="margin-top: 8%;">
                <td>
                    <div class="image-div">
                        <img class="image" src="../../assets/images/zscaler.png" alt="UnitedHealth Group">
                        
                    </div>
                   
                    <div class="subtitle"><br>
                        Chandigarh, INDIA<br>
                        Intern<br>
                        January'19 - June'19<br>
                                          
                    </div>
                   <br>
                   <br>
                   <div class="work-ex-list">
                    <ul class="check-list">
                        <li>Worked as a Product Support Intern for 6 months and got recommended in
                            Cloud Based Security Domain. </li><br>
                        <li>Troubleshooting and resolving network and cloud firewall related issues.</li>
                        
                      </ul>

                </div>
                </td>
            </tr>
        </table>
        <br>
                        <br>
                        <br>
    </div>



</div>