
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

.body{
    background-color: rgb(255, 255, 255);
    height: fit-content;
    margin-top: -10vh;
    padding-bottom: 15vh;
}

.header{
    color:black;
    margin:0px;
    letter-spacing: 15px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size:38px;
    font-weight:bold;
    height: 15vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.sub-header{
    color:black;
    margin:0px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size:28px;
    height: 5vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.sub-header-lowres{
    color:black;
    margin:0px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size:22px;
    height: 5vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


.image-div{
    
    letter-spacing: 15px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size:38px;
    font-weight:bold;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}


.image{
    height: 60%;
    width: 60%;
    padding: 20px;
    
    
}

.image-airtel{
    height: 50%;
    width: 60%;
    padding: 20px;
    
    
}

.work-ex-list{
    color:black;
    font-size: 14px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    text-align: justify;
    padding-right: 50px;
}




.image-title{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size:22px;
    font-weight: 300;
}


.table-div{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    border-collapse: collapse;
}

table, td {
    border: none;
  }

  td{
    height: 100%;
     width: 50%;
  }

  .subtitle{
    color:black;
    font-size: 15px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    text-align: center;
}


.image-lowres{
    height: 90%;
    width: 90%;
    padding: 10px;
    
    
}

.image-div-lowres{
        
    display: flex;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    
}


.table-div-lowres{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-collapse: collapse;
}

.image-lowres{
    height: 90%;
    width: 90%;
    padding: 10px;
    
    
}

.image-div-lowres{
        
    display: flex;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    
}

.header-lowres{
    margin:0px;
    letter-spacing: 5px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size:32px;
    font-weight:bold;
    height: 15vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.table-div-lowres tr {

display: flex;

}

.table-div-lowres td {

    width: 100%;
    
    }

