<mat-card  *ngIf="screenSize=='Large' || screenSize=='XLarge'" class="example-card" (click)="navigate(link)">
    <img mat-card-image src={{image}}>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    
    <mat-card-content style="margin-left: 15px; max-height: 50px; min-height: 50px;">
      <p >
        {{details}}
      </p>
      
    </mat-card-content>

    

    <mat-card-footer style="margin-bottom: 10px; padding-bottom: 5px;">
      
    <span class="techStack">
      <span  *ngFor='let i of techStack' class="stackLabel">
        {{i}}
      </span>
  </span>
</mat-card-footer>

  </mat-card>


  <mat-card  *ngIf="screenSize!='Large' && screenSize!='XLarge'" class="example-card-lowres" (click)="navigate(link)">
    <img mat-card-image src={{image}}>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    
    <mat-card-content style="margin-left: 15px; height: 80px;">
      <p >
        {{details}}
      </p>


      
    </mat-card-content>

    

    <mat-card-footer style="margin-bottom: 10px; padding-bottom: 5px;">
      
    <span class="techStack">
      <span  *ngFor='let i of techStack' class="stackLabel">
        {{i}}
      </span>
  </span>
</mat-card-footer>

  </mat-card>