<div class="body">
    <div *ngIf="screenSize=='Large' || screenSize=='XLarge'" class="table-div">
        <div class="header">Projects</div>

        <div class=project-list>

            <span *ngFor='let i of projectList'>
                <app-projectcard 
                [screenSize]='screenSize'
                [title]="i.title"
                [image]="i.image" 
                [details]="i.details"
                [techStack]="i.techStack"
                [link]="i.link">

            </app-projectcard>
            </span>
            

        </div>
        <div class="subtitle-text">
            For more details on corporate projects.
        </div>
        <div class="subtitle" onclick="viewResume()">
            <button (click)="viewResume()" mat-button style="color: black; background-color: white; margin: 0%;"> <span style="padding-left: 5px; padding-right:5px">View Resume</span></button>
        </div>

    </div>

    <div *ngIf="screenSize!='Large' && screenSize!='XLarge'" class="table-div">
        <div class="header-lowres">Projects</div>
        
        <div class=project-list-lowres>

            <span *ngFor='let i of projectList'>
                <app-projectcard 
                [screenSize]='screenSize'
                [title]="i.title"
                [image]="i.image" 
                [details]="i.details"
                [techStack]="i.techStack"
                [link]="i.link"
                >

            </app-projectcard>
            </span>
            
        </div>
        <div class="subtitle-text">
            For more details on corporate projects.
        </div>
        <div class="subtitle">
            
            <button (click)="viewResume()" mat-button style="color: black; background-color: white; margin: 5px; cursor: pointer;" >View Resume</button>
        </div>
    </div>



</div>