.body{
    background-color: rgb(0, 0, 0);
    height: fit-content;
    padding-bottom: 10vh;
}


.header{
    color:white;
    margin:0px;
    letter-spacing: 15px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size:38px;
    font-weight:bold;
    height: 15vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.sub-header{
    color:black;
    margin:0px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size:28px;
    height: 5vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


.header-lowres{
    margin:0px;
    letter-spacing: 5px;
    text-align:center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size:32px;
    font-weight:bold;
    height: 15vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.project-list{

    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    max-width: 100%;
}

.project-list-lowres{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button:hover{

    pointer-events: none;
    
}

.subtitle-text{
    color:white;
    font-size: 15px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom:10px;
    
}

.subtitle{
    color:white;
    font-size: 15px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    
}