<div *ngIf="screenSize=='Large' || screenSize=='XLarge'" style="display: flex; flex-direction: row;">
<a href="https://www.linkedin.com/in/divyansh-chauhan" target="_blank" class="fa fa-linkedin"></a>
<a href="https://github.com/divynshh" target="_blank" class="fa fa-github"></a>
<a href="https://www.instagram.com/divynshh/" target="_blank" class="fa fa-instagram"></a>
<a href="https://twitter.com/divynshh" target="_blank" class="fa fa-twitter"></a>
<!-- <a href="https://www.facebook.com/divynshh/" target="_blank" class="fa fa-facebook"></a> -->
<a href="https://www.youtube.com/channel/UC2SkaBqDP_eTE2mgnbHUU1g" target="_blank" class="fa fa-youtube-play"></a>

<a href="#"class="fa fa-envelope"></a>

</div>

<div *ngIf="screenSize!='Large' && screenSize!='XLarge'"  style="display: flex; flex-direction: column;">
  <a href="https://www.linkedin.com/in/divyansh-chauhan" target="_blank" class="fa fa-linkedin"></a>
  <a href="https://github.com/divynshh" target="_blank" class="fa fa-github"></a>
  <a href="https://www.instagram.com/divynshh/" target="_blank" class="fa fa-instagram"></a>
  <a href="https://twitter.com/divynshh" target="_blank" class="fa fa-twitter"></a>
  <!-- <a href="https://www.facebook.com/divynshh/" target="_blank" class="fa fa-facebook"></a> -->
  <a href="https://www.youtube.com/channel/UC2SkaBqDP_eTE2mgnbHUU1g" target="_blank" class="fa fa-youtube-play"></a>
  <a href="#" class="fa fa-envelope"></a>
  </div>