<div class="skill-section"> 
    <div class="skill-title">Programming Languages</div>
    <br>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Java'" [rating]=4 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'TypeScript'" [rating]=3 ></app-skill-scale> 
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Python'" [rating]=4 ></app-skill-scale> 
</div>
<br>

<div class="skill-section"> 
    <div class="skill-title">Back-End</div>
    <br>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'SpringBoot'" [rating]=4 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Object Oriented Design'" [rating]=5 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'MySQL'" [rating]=4 ></app-skill-scale>
</div>
<br>

<div class="skill-section"> 
    <div class="skill-title">Front-End</div>
    <br>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Angular'" [rating]=3 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'HTML + CSS'" [rating]=4 ></app-skill-scale>
</div>
<br>
<div class="skill-section"> 
    <div class="skill-title">Dev-Ops</div>
    <br>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Git & Github'" [rating]=5 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Jenkins'" [rating]=4 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'OpenShift'" [rating]=3 ></app-skill-scale>
    <app-skill-scale [screenSize]="screenSize" [skillName]="'Docker'" [rating]=3 ></app-skill-scale>
</div>


