<div class="animated-title" (click)="openResume()">
    <div class="text-top">
      <div>
        <span style="font-size: 72px;">Hey, It's me</span>
        <span style="font-size: 96px;">DIVYANSH CHAUHAN. </span>
      </div>
    </div>
    
    <div class="text-bottom">
      <div style="font-size: 54px;"> Engineer, Traveller
        <span style="font-size: 42px; padding-bottom: 20px;">
            <br>
            I am a Software Engineer based in Gurgaon, India.
            I like to build solid and scalable applications and software solutions.         
        </span>
        </div>
    </div>
  </div>